{% extends 'base.html.twig' %}

{% block body %}
    <style>
        *{

        }
        .listados{
            display: flex;
            justify-content: space-around;
        }
        tr {
            transition: 0.5s;
        }
        tr:hover{
            color: white;
            background-color: #343A40;
        }
        td{
            padding: 1em;
        }
        h2{
            text-align: center;
        }
    </style>
    <div class="listados">

    <div>
    <h2>Listado de Usuarios</h2>

    <table border="1">
        <tr>
            <td>NickName</td>
            <td>Email</td>
            <td>Contraseña</td>
            <td>Id</td>
        </tr>
        {% for user in usuarios %}
        <tr>
            <td>
                {{ user.nickname }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.password }}
            </td>
            <td>
                {{ user.id }}
            </td>
        </tr>
        {% endfor %}

    </table>
    </div>
        <div>
<h2>Listado de Ciudades</h2>

    <table border="1">
        <tr>
            <td>Código Postal</td>
            <td>Densidad Población</td>
        </tr>
        {% for ciudad in ciudades %}
            <tr>
                <td>
                    {{ ciudad.id }}
                </td>
                <td>
                    {{ ciudad.personas }}
                </td>
            </tr>
        {% endfor %}
    </table>
        </div>
{% endblock %}

{% block stylesheets %}
    </div>
{% endblock %}
