{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Usuarios</h1>

    <table border="1">
        <tr>
            <td>NickName</td>
            <td>Email</td>
            <td>Contraseña</td>
            <td>Id</td>
        </tr>
        {% for user in usuarios %}
        <tr>
            <td>
                {{ user.nickname }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.password }}
            </td>
            <td>
                {{ user.id }}
            </td>
        </tr>
        {% endfor %}

    </table>

<h1>Listado de Ciudades</h1>

    <table border="1">
        <tr>
            <td>Código Postal</td>
            <td>Densidad Población</td>
        </tr>
        {% for ciudad in ciudades %}
            <tr>
                <td>
                    {{ ciudad.id }}
                </td>
                <td>
                    {{ ciudad.personas }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
